<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89044841-1', 'auto');
  ga('send', 'pageview');
  
  if(document.querySelector('#content-wrapper-inner')) {
  
    var sendEvent1 = false;
    var sendEvent2 = false;
    var sendEvent3 = false;

    var topBegin = document.querySelector('#content-wrapper-inner').offsetTop;
    
    var w = window,
      d = document,
      e = d.documentElement,
      g = d.getElementsByTagName('body')[0],
      y = w.innerHeight|| e.clientHeight|| g.clientHeight

    document.body.onscroll = function(){
      var top = -(document.querySelector('#content-wrapper-inner').getBoundingClientRect().top  - topBegin);
      var height = document.querySelector('#content-wrapper-inner').getBoundingClientRect().height;

      var c = top === 0 ? 0 : (top / height) * 100;

      if(c < 50 && !sendEvent1) {
        sendEvent1 = true;
        console.log('0');
        ga('send', 'event', "reading", "begin", "article 1% lu");
      }
      if(c > 50 && !sendEvent2) {
        sendEvent2 = true;
        console.log('50');
        ga('send', 'event', "reading", "middle", "article 50% lu");
      }
      if(c > 90 && !sendEvent3) {
        sendEvent3 = true;
        console.log('90');
        ga('send', 'event', "reading", "end", "article 100% lu");
      }
    }
  }

</script>
