<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta content="{{ site.title }}" property="og:site_name">

  <meta name="twitter:card" content="summary_large_image">

  <meta name="twitter:creator" content="@gaetankueny">

  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    <meta content="article" property="og:type">

    <meta name="twitter:site" content="{{ page.title }}" />
  {% else %}
    <meta name="twitter:site" content="{{ site.title }}" />

    <meta content="{{ site.title }}" property="og:title">
    <meta content="website" property="og:type">
  {% endif %}

  {% if page.timerArticle %}
    <meta time="{{ page.timerArticle  }}" property="timerArticle">
  {% endif %}

  {% if page.timerNextArticle %}
    <meta time="{{ page.timerNextArticle  }}" property="timerNextArticle">
  {% endif %}


  {% if page.excerpt %}
    <meta content="{{ page.excerpt| | strip_html | strip_newlines | truncate: 160  }}" property="og:description">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160   }}" />
  {% else %}
    <meta content="{{ site.description | strip_html | strip_newlines | truncate: 160 }}" property="og:description">
    <meta name="twitter:description" content="{{ page.description | strip_html | strip_newlines | truncate: 160 }}" />
  {% endif %}

  {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    <meta content="{{ site.url }}/about/" property="article:author">
  {% endif %}

  {% if page.featured_image %}
    <meta content="{{ site.url }}{{ page.featured_image }}" property="og:image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.featured_image }}" />
  {% endif %}

  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}

    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}" />
    {% else %}
        <meta name="keywords" content="freelance, developer, web , development, freelance developer, front-end developer, Gaetan Kueny, gkueny, react, react-native, wordpress, symphony" />
    {% endif %}


 {% if page.url == "/404.html" %}
    <meta  http-equiv="refresh" content="5; url=/">
{% endif %}



<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ site.url }}/assets/favicons/manifest.json">
<link rel="mask-icon" href="{{ site.url }}/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">



  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/css/bootstrap.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="{{ "/css/asciidoctore.css" | prepend: site.baseurl }}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
</head>
