<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <div class="my-container">

        {{ content }}

    </div>

    {% include footer.html %}



    <script>

        $(".img-lazy").one("load", function() {
            this.style.opacity = 1;
        }).each(function() {
            if(this.complete) $(this).load();
        });

        $(".bg-lazy").lazyload({
            effect: "fadeIn"
        });

    </script>


    {% if site.environment == "prod" %}
        {% include analytics.html %}
    {% endif %}

</body>

</html>
