<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <div class="my-container">

        {{ content }}

    </div>

    {% include footer.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>


    <script>
        $(".img-lazy").on("load", function() {
            //$("#" + this.dataset.id)[0].style.opacity = 0;
            this.style.opacity = 1;
        });
        $(".bg-lazy").lazyload({
            effect: "fadeIn"
        });

    </script>

</body>

</html>
