---
layout: default
---
    <div style="margin-top: 120px"></div>
    <span style="color: white; font-size: 0.8em; font-weight: lighter;margin-left:10px;"><a style="color: white;" href="{{  site.url }}">Home</a> > {{ page.title }}</span>
    <div
        class="post-thumbnail"
        style="
        background: url({{ site.url }}{{ page.featured_image }}) center center no-repeat;-moz-box-shadow: 0px 15px 20px rgba(0,0,0,0.8);
        -webkit-box-shadow: 0px 15px 20px rgba(0,0,0,0.8);
        -o-box-shadow: 0px 15px 20px rgba(0,0,0,0.8);
        box-shadow: 0px 15px 20px rgba(0,0,0,0.8);
        ">
    </div>
    <div id="content-wrapper" class="unPost">
        <div class="col-md-24">
            <div id="content-wrapper-inner">


                    <header class="post-header">
                        <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                        <p class="post-meta">
                            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
                        </p>

                        <!-- {% assign minutes = content | number_of_words | divided_by: 180 %}
                        {% if minutes == 0 %}{% assign minutes = 1 %}{% endif %} -->

                        <!-- <p class="post-meta">
                            <span >Temps estimé pour la lecture de cet article : {{ minutes }} minutes</span> <br/>
                        </p> -->
                    </header>


                    {{ content | smilify }}

            </div>


        </div>
    </div>
    {% if page.comments %}

        <div id="disqus_thread"></div>
        <script>

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//gkueny.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

    {% endif %}
